body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    color: rgb(128, 0, 21);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #db3458;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}